.contact-form{
  min-height: 100vh;
}

.all-form{
  text-align: center;
  margin-top: 9vw;
  font-weight: bolder;
  margin-top: 40vh;
  margin-left: 570px;
  margin-bottom: 100px;
  font-size: 25px;
  height: 320px;
  width: 550px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(to right, #4ca5c7, #8cdaab);
  box-shadow: rgb(5, 13, 21) 0px 20px 30px -10px;
  /* animation: pulse 2s infinite; */
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
}
.name{
  display: grid;
  padding: 15px;
  margin-right: 5px;
}
.name-box{
  height: 20px;
  width: 500px;
  
}
.email{
  display: grid;
  padding: 15px;
  
}
.email-box{
  height: 20px;
  width: 500px;
  
}
.message{
  display: grid;
  padding: 6px;
  
}
.message-box{
  height: 25px;
  width: 500px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin-left: 11px;
}
.submit{
  box-shadow: rgb(5, 13, 21) 0px 20px 30px -10px;
  text-decoration: none;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
}

.submit span {
  position: relative; 
  z-index: 1;
}

.submit:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 272%;
  width: 135%;
  background: #5d1880;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.submit:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}