.contact-form{
  min-height: 100vh;
}

.all-form{
  text-align: center;
  margin-top: 9vw;
  font-weight: bolder;
  margin-top: 40vh;
  margin-left: 570px;
  margin-bottom: 100px;
  font-size: 25px;
  height: 250px;
  width: 550px;
  padding-top: 75px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: linear-gradient(to right, #155259, #c6e6e3);
  box-shadow: 0 0 0 rgba(177, 119, 225, 0.4);
  animation: pulse 2s infinite;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
}
.name{
  padding: 15px;
  margin-right: 5px;
}
.name-box{
  padding: 8px;
  margin-left: 8px;
}
.email{
  padding: 15px;
  margin-right: 5px;
}
.email-box{
  padding: 8px;
  margin-left: 13px;
}
.message{
  padding: 6px;
  margin-right: 1px;
}
.message-box{
  padding: 4px;
  margin-left: 5px;
}
.submit{
  text-decoration: none;
  top: 7px;
  padding: 17px;
  letter-spacing: 2px;
  color: #593d67;
  font-weight: bolder;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 2px solid #593d67;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
}