body {
  margin: 0;
  background-image: linear-gradient(to right, #593d67,  #BC9EC8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
