body {
  margin: 0;
  /* background-image: linear-gradient(to right, #593d67,  #BC9EC8); */
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    background-size: 400% 400%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes AnimationName {
  0%{background-position:5% 0%}
  50%{background-position:96% 100%}
  100%{background-position:5% 0%}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
