.nav-container {
  background-color: rgba(148, 134, 164, 0.721);
  background: linear-gradient(to bottom, rgb(189, 163, 213), transparent 90%);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}
.my-logo {
  margin-top: 20px;
  margin-left: 70px;
}

.nav-list {
  width: 40%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 125px;
  margin-bottom: 28px;
}

.abt {
  text-decoration: none;
  top: 40px;
  padding: 17px;
  letter-spacing: 2px;
  color: #593d67;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid #593d67;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  /* background-color: #fff; */
  box-shadow: 0 3px 4px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.abt:hover {
  border: 3px solid #593d6787;
  color: #6c979da5 !important;
  transform: scale(1.2, 1.2);
  }
  .abt:hover::before{
    opacity:1;
    width: 116%;
  }
.abt:hover::after{
  opacity:1;
  width: 120%;
}
.abt::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #593d679e;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.abt::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #34616776;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

.work {
  text-decoration: none;
  top: 40px;
  padding: 17px;
  letter-spacing: 2px;
  color: #593d67;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid #593d67;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  /* background-color: #fff; */
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.work:hover {
  border: 3px solid #593d6787;
  color: #6c979da5 !important;
  transform: scale(1.2, 1.2);
  }
.work:hover::before{
    opacity:1;
    width: 116%;
  }
.work:hover::after{
  opacity:1;
  width: 120%;
}
.work::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #593d679e;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.work::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #34616776;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.contact {
  text-decoration: none;
  top: 40px;
  padding: 17px;
  letter-spacing: 2px;
  color: #593d67;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 4px solid #593d67;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  /* background-color: #fff; */
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.contact:hover {
  border: 3px solid #593d6787;
  color: #6c979da5 !important;
  transform: scale(1.2, 1.2);
  }
  .contact:hover::before{
    opacity:1;
    width: 116%;
  }
  .contact:hover::after{
  opacity:1;
  width: 120%;
}
.contact::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #593d679e;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.contact::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #34616776;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

/* .logos {
  margin-left: 40%;
  height: 50px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.html {
  font-size: 1vw;
  padding: 1vw;
  margin: 3vw;
  object-fit: contain;
}
.css {
  font-size: 1vw;
  padding: 1vw;
  margin: 1vw;
  object-fit: contain;
}
.js {
  size: 1vw;
  padding: 1vw;
  margin: 1vw;
  object-fit: contain;
}
.ruby {
  width: 10vw;
  height: auto;
  padding: 2vw;
  margin: 1vw;
  /* object-fit: cover; */
/* } */

/* .react {
  size: 1vw;
  padding: 2vw;
  margin: 1vw;
  object-fit: fill; */
/* } */
