/* .all-footer{ */
  /* background-image: linear-gradient(to right, #4ca5c7, #8cdaab); */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* text-align: left; */
  /* height: 8vw; */
/* } */
/* .social-list{
  display: flexbox;
  /* justify-content: center; */
  /* margin-top: 1px;
  padding: 15px; */
/* } */
.author{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
.main-footer{
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, #4ca5c7, #8cdaab);
  padding-top: 3em;
  
  bottom: 0;
  width: 100%;
}

.social-container{
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 50px;
}
.github{
  box-shadow: rgb(5, 13, 21) 0px 20px 30px -10px;
  font-size:50px;
  padding: 10px;
}
.linkedin{
  box-shadow: rgb(5, 13, 21) 0px 20px 30px -10px;
  font-size:50px;
  padding: 10px;
}
.author{
  margin-left: 30vw;
  margin-top: 50px;
}
.resume{
  
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 35px;
  
}
.resume-click{
  
  box-shadow: rgb(5, 13, 21) 0px 20px 30px -10px;
  text-decoration: none;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  font-family: 'Josefin Sans', sans-serif;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
  background-color: #222;
  padding: 17px 60px;
  margin: 10px auto;
}

.resume-click span {
  position: relative; 
  z-index: 1;
}

.resume-click:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #5d1880;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.resume-click:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}

/* .resume-click{
  text-align: right;
  text-decoration: none;
  top: 7px;
  padding: 17px;
  letter-spacing: 2px;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 3px solid #8B47B5;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #633faa !important;
  z-index: 10;
} */
/* .resume-click:hover {
  border: 3px solid #8B47B5;
  color: #6c979da5 !important;
} */
/* .resume-click::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  color: black;
  background: #2e0a76;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
} */
/* .resume-click::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  color: black;
  background: #8cdaab;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
} */
/* .resume-click:hover::before{
  opacity:1;
  width: 116%;
} */
/* .resume-click:hover::after{
  opacity:1;
  width: 120%;
} */
