.all-footer{
  background-image: linear-gradient(to right, #155259,   #C6E6E3);
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  height: 8vw;
}
.liz-contact{
  padding-top: 20px;
}
.footer-link{
  color:  #593d67;
  font-size: 25px;
  font-weight: bolder;
  padding-top: 20px;
}
.social-list{
  display: flexbox;
  justify-content: center;
  margin-top: 25px;
}
.github{
  padding: 10px;
}
.linkedin{
  padding: 10px;
}