
.bio-container{
  width: 80vw;
  margin-left: 180px;
  margin-top: 20vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-basis: auto;
  flex-wrap: nowrap;
  
}
.my-pic {
  flex: 0 0 auto;
  background-image: linear-gradient(to right, #155259,   #C6E6E3);
  box-shadow: 8px 8px  #346167a5;
  border-radius: 50%;
}
.my-bio{
  flex: 0 0 auto;
  content: center;
  font-weight: bolder;
  width: 370px;
  height: auto;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 10px;
  background-image: linear-gradient(to right, #155259,   #C6E6E3);
  box-shadow: 8px 8px  #346167a5;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
}
.edu{
  flex: 0 0 auto;
  padding: 15px;
}
.csu{
  /* position:absolute;
  top: 140px;
  left: 100px;
  z-index: 3; */
  padding: 15px;
}
.ga{
  /* position: absolute;
  top: 0px;
  left: 90px;
  z-index: 1; */
  padding: 15px;
}
.denver{
  margin-top: 225px;
  border-radius: 50%;

}
.adv-container{
  width: 80vw;
  margin-left: 180px;
  margin-top: 10vw;
  margin-bottom: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-basis: auto;
  flex-wrap: nowrap;
}
.skydiving{
  flex: 0 0 auto;
  background-image: linear-gradient(to right, #155259,   #C6E6E3);
  box-shadow: 8px 8px  #346167a5;
  border-radius: 50%;
  margin-right: 80px;
}
.adv-bio-text{
  flex: 0 0 auto;
  content: center;
  font-weight: bolder;
  width: 370px;
  height: auto;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 10px;
  background-image: linear-gradient(to right, #155259,   #C6E6E3);
  box-shadow: 8px 8px  #346167a5;
  border-top-left-radius: 65px;
  border-bottom-right-radius: 65px;
}
.lang-logos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  height: auto;
  width: 400px;
}
.html{
  padding: 17px;
  animation: rotation 6s;
  animation-timing-function: linear;
}
.css{
  padding: 17px;
  animation: rotation 6s;
  animation-timing-function: linear;
  animation-delay: 2s;
}
.js{
  padding: 17px;
  animation: rotation 6s;
  animation-delay: 3s;
  animation-timing-function: linear;
}
.ruby{
  padding: 13px;
  animation: rotation 6s;
  animation-delay: 4s;
  animation-timing-function: linear;
}
.rails{
  padding: 28px;
  animation: rotation 6s;
  animation-delay:5s;
  animation-timing-function: linear;
}
.react{
  padding: 10px;
  animation: rotation 6s;
  animation-delay: 6s;
  animation-timing-function: linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}